@charset "ISO-8859-1";

.clear{
	clear: both;
}

.principal{
	float: left;
	width: 50%;
	margin-top: 30px;
}

.caminho{
	margin-top: 40px;
	margin-bottom: 40px;
}

td{
	padding-top: 10px;
}

.itens{
	float: right;
	background-color: #fafafa;
	min-height: 100vh;
	width: 50%;
	border-left: 1px solid #e6e6e6;
}

a span{
	color: black;
}

.nome{
	font-size: 16px;
	color: black;
}

strong.nome:hover{
	text-decoration:none;
}

span{
	color: rgb(160, 160, 160);	
}

.contato{
	font-size: 18px;
	font-weight:bold;
	color: black;
	 
}
.texto-contato{
	font-size: 16px;
	color: black;
}

.prod{
	display: block;	
	margin-top: 20px;
	padding-right: 18px;
	padding-left: 18px;
}

.imgProduto{
	width: 100px;
	height: 100px;
}

.puxar{
	float: left;
}

label{
	float: left;
}

.preco{
	float: right;
	color: #323232;
	font-weight: bold;
}

.valor{
	float: right;
	color: #323232;
}

.separacao{
	display: block;
	padding-left: 18px;
	padding-right: 18px;
}

.divBtn{
	margin-top: 220px;
	padding-left: 40px;
	padding-right: 40px;
}

.pagto{
	float: right;
}

.voltar{
	float: left;
}